/*@import url('m10assets/css/style.css');*/
@import url('yoga-assets/css/style.css');
/*@import url('rocket-assets/css/rocket.css');*/

.chart {
    width: 960px;
}
button:hover {
    cursor: pointer;
}
